@model Kunskapskontroll.Models.PersonViewModel

<div class="col-md-12">
    <p>
        @Html.LabelFor(m => m.Name)
        @Html.DisplayFor(m => m.Name)

        @Html.LabelFor(m => m.Adress)
        @Html.DisplayFor(m => m.Adress)

        @Html.LabelFor(m => m.PhoneNumber)
        @Html.DisplayFor(m =>m.PhoneNumber)

        @Html.LabelFor(m => m.Updated)
        @Html.DisplayFor(m => m.Updated)




        @Html.ActionLink("Delete","Delete", "Person", new { Value = Model.id }, new { @class = "deletebtn", value = Model.id })
        @Ajax.ActionLink("Edit", "Edit", "Person", new { id = Model.id }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "crudfields", OnSuccess = "onWindowChange" })
    </p>
</div>