@model Kunskapskontroll.Models.PersonViewModel

@{
    var createOptions = new AjaxOptions
    {

        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "posts",
        OnSuccess = "OnCreateSuccess"
    };
}
<div>
    <h3>Add Post</h3>
    @using (Ajax.BeginForm("Create","Person", null, createOptions, new { ID = "createform" }))
    {
        <p>
            @Html.LabelFor(m => m.Name)
            @Html.EditorFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)


        </p>
        <p>
            @Html.LabelFor(m => m.Adress)
            @Html.EditorFor(m => m.Adress)
            @Html.ValidationMessageFor(m => m.Adress)


        </p>
        <p>
            @Html.LabelFor(m => m.PhoneNumber)
            @Html.EditorFor(m => m.PhoneNumber)
            @Html.ValidationMessageFor(m => m.PhoneNumber)


        </p>

        <button type="submit" id="submit" name="submit">Submit</button>


    }
</div>

